body{
font-family: Verdana, Helvetica, Arial;
color:#434343;
font-size:12px;
width:1150px;
background-color: white;
}
h1, h2, h3{
margin:0;
font-size:40px;
}
a {
text-decoration:none;
color:#434343;
}
a:hover{
text-decoration:none;
}

#body{
position: absolute;
top: 200px;
left:150px;
width: 740px;
background-color: white;
margin:0;
height:640px;
border-width:0px;
border-color:#d8d8d8;
border-style:solid;
font-size:14px;
padding-top:35px;
padding-left:60px;
line-height:200%;
}
table {
    border-collapse: collapse;
}
table, th, td{
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
}

#back{
position: absolute;
top: 150px;
left:0px;
background-color: white;
margin:0;
}

#head{
position: absolute;
top: 10px;
left:150px;
margin:0;
width:800px;
height:324px;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
border-radius:0 px;
background-color: white;
}

#aktualne{
position: absolute;
top: 450px;
left:640px;
background-image: url(cat.png);
margin:0;
width:250px;
height:30px;
color:white;
font-size:15px;
padding-left:10px;
padding-top:7px;
border-style:solid;
border-radius:5px;
}

#aktualne_cont{
position: absolute;
top: 500px;
left:642px;
margin:0;
width:250px;
height:90px;
color:#434343;
font-size:15px;
padding-left:10px;
border-style:solid;
border-radius:5px;
border-color:#d8d8d8;
border-width:1px;
font-weight:bold;
}

#text{
position: absolute;
top: 305px;
left:180px;
margin:0;
width:410px;
height:390px;
color:#434343;
font-size:15px;
padding-left:10px;
border-style:solid;
border-radius:5px;
border-color:#d8d8d8;
border-width:1px;
font-weight:bold;
}

#odkazy{
position: absolute;
top: 630px;
left:640px;
background-image: url(cat.png);
margin:0;
width:250px;
height:30px;
color:white;
font-size:15px;
padding-left:10px;
padding-top:7px;
border-style:solid;
border-radius:5px;
}

#volejte{
position: absolute;
top: 11px;
left:323px;
margin:0;
width:250px;
height:60px;
color:white;
font-size:15px;
padding-top:7px;
border-style:solid;
border-radius:5px;
border-color:#d63835;
background-color: #d63835;
font-size:20px;
text-align:center;
}

#odkazy_cont{
position: absolute;
top: 680px;
left:642px;
margin:0;
width:250px;
height:90px;
color:#434343;
font-size:15px;
padding-left:10px;
border-style:solid;
border-radius:5px;
border-color:#d8d8d8;
border-width:1px;
font-weight:bold;
}

#search{
position: absolute;
top: 255px;
left:480px;
background-color: white;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
border-radius:0 px;
}

#menuitem{
position: absolute;
top: 335px;
left:150px;
background-color: #f3f3f3;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
width:70px;
height:30px;
padding-top:10px;
font-size:15px;
padding-left:18px;
font-weight:bold;
color:#fd7437;
}

#menuitem_cenik{
position: absolute;
top: 335px;
left:239px;
background-color: white;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
width:70px;
height:30px;
padding-top:10px;
font-size:15px;
padding-left:18px;
font-weight:bold;
color:#555555;
}

#menuitem_cenik:hover{
background-color: #f3f3f3;
color:#fd7437;  
}

#menuitem_doba:hover{
background-color: #f3f3f3;
color:#fd7437; 
}

#menuitem_rad:hover{
background-color: #f3f3f3;
color:#fd7437; 
}

#menuitem_pomoc:hover{
background-color: #f3f3f3;
color:#fd7437;  
}

#noactive {
color:#555555;
}

#noactive:hover {
color:#fd7437;
}

#active {
color:#fd7437;
}



#menuitem_doba{
position: absolute;
top: 335px;
left:328px;
background-color: white;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
width:140px;
height:30px;
padding-top:10px;
font-size:15px;
padding-left:18px;
font-weight:bold;
color:#555555;
}

#menuitem_rad{
position: absolute;
top: 335px;
left:486px;
background-color: white;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
width:130px;
height:30px;
padding-top:10px;
font-size:15px;
padding-left:18px;
font-weight:bold;
color:#555555;
}

#menuitem_pomoc{
position: absolute;
top: 335px;
left:634px;
background-color: white;
margin:0;
border-width:1px;
border-color:#d8d8d8;
border-style:solid;
width:298px;
height:30px;
padding-top:10px;
font-size:15px;
padding-left:18px;
font-weight:bold;
color:#555555;
}

#nadpis{
position: absolute;
top: 80px;
left:160px;
}

